.container-contact2{
    clear: both;
    padding-inline: 4rem;
    margin-top: 4rem;
    height: auto;
}

.content-2{
    max-width: 50%;

}


.content-2 h2{
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.content-2 p{
    line-height: 2rem;
}


.icons-contact span{
    margin: 1.5rem 0rem 0rem 1rem;
    display: inline-block;

}


iframe{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 1rem;
}

